footer {
    background-color: rgba(62, 72, 65, 0.9);
    color: #f1f1f1;
    text-align: center;
    padding: 10px;
    margin-top: 6rem;
    font-family: poppins;
    font-weight: normal;
  }
  footer img{
    width: auto;
    height: 3rem;
    margin: 1rem;
  }

  footer .myInfo{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }

  footer .myInfo .redes a{
    margin: 0.5rem;
  }
  footer .myInfo .redes p{
    font-size: 1rem;
  }
  
