@font-face {
    font-family: 'poppins';
    src: url('./font/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("../imagens/cowboy-background-concept.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: poppins;
}

.conteudo-login {
    text-align: center;
}



.conteudo-formulario {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
}

#form-log {
    margin-bottom: 20px;
}

#input-log {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

#botao-log {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgba(83, 156, 82, 1);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.rodape-login {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(245, 240, 229, 1);
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
}