@font-face {
    font-family: 'poppins';
    src: url('./font/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.hardSkills {
    font-family: poppins;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    color: rgb(62, 72, 65);
    margin-top: 5rem;
    margin-bottom: 5rem;
    border: solid rgba(62, 72, 65, 0.2);
    padding: 20px;


}

.hardSkills .top {
    text-align: center;
}

.hardSkills .top h1 {
    margin: 0;
    font-weight: normal;
    font-size: 3rem;
}

.hardSkills .top p {
    font-size: 1.2rem;
    font-weight: normal;
}

.hardSkills .bot {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    margin-top: 3.5rem;
}

.hardSkills .skill {
    width: auto;
}

.hardSkills p {
    margin: 0;
    font-size: 1rem;
}

@media (max-width: 800px) {
    .hardSkills .bot {
        grid-template-columns: 1fr 1fr;
    }
}